# Ambientes Virtuais
venv/
.venv/
env/
.env

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db
